@font-face {
	font-family: 'opensans';
	src: url('./fonts/opensans-regular.woff') format('woff');
}



body {
	margin: 0;
	font-family: 'opensans', sans-serif;
}

header {
	background: grey;
	color: white;

}

header h1 {
	display:block;
	margin:0px;
    font-size:30px;
    padding-left: 10px;
    transition: opacity 1s linear;
    opacity: 1;
}
header h1:hover {
	opacity: 0;
}

header nav ul li {
	display: inline-block;
	list-style: none;
	margin-right: 20px;
}

header h1,
header nav {
	   vertical-align: middle;
	   display: inline-block;
}

nav ul li {
	display: inline-block;
	padding: 25px;
}

nav ul li a {
	color: white;
	text-decoration:none;
}

section {
	margin:auto;
	text-align: center;
   }

 section img {
 	padding: 50px;
	transition: padding 3s linear;
   }
   section img:hover {
   	padding: 100px;

   }

 section p a {
 	color: #1abc9c;
 	text-decoration: none;
 	transition: font-size 3s linear;
 }

 section p a:hover {
 	font-size: 70px;
 }

nav ul li a:hover {
	background-color: black;
	padding: 10px;


}

.example{
	position: relative;
	background-color: red;	

	webkit-animation: primeraAnimacion 2s infinite;
	animation: primeraAnimacion 2s infinite ;

}

@-webkit-keyframes primeraAnimacion{
	0% {background-color:green}
	50% {background-color: red}
	100% {background-color: blue}
}


@keyframes primeraAnimacion{
	0% {background-color:green}
	50% {background-color: red}
	100% {background-color: blue}
}

@-o-keyframes primeraAnimacion{
	0% {background-color:green}
	50% {background-color: red}
	100% {background-color: blue}
}


@-moz-keyframes primeraAnimacion{
	0% {background-color:green}
	50% {background-color: red}
	100% {background-color: blue}
}

@-ms-keyframes primeraAnimacion{
	0% {background-color:green}
	50% {background-color: red}
	100% {background-color: blue}
}

section h2 {
	text-shadow: 2px 2px #FF0000;
	color:orange;

	webkit-animation: segundaAnimacion 3s infinite;
	animation: segundaAnimacion 3s infinite ;

}
@-webkit-keyframes segundaAnimacion{
	0% {color:green}
	10%{color:purple;}
	25%{color:brown;}
	50% {color: red}
	75% {color:yellow;}
	90%{color:white;}
	100% {color: blue}
}

@-moz-keyframes segundaAnimacion{
	0% {color:green}
	10%{color:purple;}
	25%{color:brown;}
	50% {color: red}
	75% {color:yellow;}
	90%{color:white;}
	100% {color: blue}
}

@-ms-keyframes segundaAnimacion{
	0% {color:green}
	10%{color:purple;}
	25%{color:brown;}
	50% {color: red}
	75% {color:yellow;}
	90%{color:white;}
	100% {color: blue}
}